* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jura", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --background-color: #ededed;
}

.cart-container-btns {
  width: max-content;
  border-radius: 25px;
  border: 3px solid #000;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: "Tektur", sans-serif;
  transition: 0.3s;
  cursor: pointer;
}

.cart-container-btns:active {
  transform: scale(0.9);
}

.navbar {
  padding: 15px 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-size: 2.3em;
  font-weight: bolder;
  color: var(--primary-text-color);
  font-family: "Tektur", sans-serif;
  text-decoration: none;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.nav-menu ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="search"] {
  padding: 10px 40px;
  width: 300px;
  border: 2px solid gray;
  border-radius: 20px;
}

.search-bar button {
  background-color: transparent;
  padding-left: 10px;
  position: relative;
  border: none;
  cursor: pointer;
}

.search-bar-btn img {
  color: gray;
}

.profile-cart {
  display: flex;
  align-items: center;
}

.profile-cart a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-decoration: none;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Tektur", sans-serif;
  color: var(--primary-color);
}

.profile-cart a i {
  font-size: 1.4rem;
  color: var(--primary-color);
}

.profile-cart a:hover {
  background: rgba(117, 117, 117, 0.099);
  transition: 0.5s;
}
.hamburger-menu {
  display: none;
}

.sidebar {
  display: none;
}

.cart-heading {
  padding: 20px 0;
  font-family: "Tektur", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.breadcrumbs a {
  text-decoration: none;
}

.previous-tab {
  color: rgb(95, 95, 95);
  font-family: "Tektur", sans-serif;
}

.active-tab {
  color: var(--primary-color);
  font-family: "Tektur", sans-serif;
}

.cart-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 20px 0;
}

.product-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  height: max-content;
}

.product-card-container {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.product-img {
  height: 230px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img img {
  width: 80%;
  height: 90%;
}

.product-info {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.product-title {
  font-size: 1.3rem;
  font-weight: 500;
  text-align: justify;
  font-family: "Tektur", sans-serif;
}

.product-price {
  font-size: 1.2rem;
  font-family: "Tektur", sans-serif;
}

.exp_price {
  margin-left: 10px;
  font-family: "Tektur", sans-serif;
  color: gray;
  font-size: 0.9rem;
  text-decoration: line-through;
}

.remove-item-btn {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 10px;
  font-family: "Tektur", sans-serif;
}

.summary-container {
  height: max-content;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.price-heading {
  font-size: 1.4rem;
}

.promo-code-search {
  width: 170px;
  padding: 7px 5px 5px 15px;
  margin-right: 10px;
  border-radius: 15px;
  border: 2px solid gray;
}

.promo-btn {
  padding: 5px 12px;
}

.checkout-btn-container {
  display: flex;
  justify-content: center;
}

.checkout-btn {
  width: 200px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Go to top Button  */
.gototop-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin: 20px 20px 20px;
}

.gototop-btn a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #212121;
  text-transform: uppercase;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  scroll-behavior: smooth;
}

.gototop-btn a::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 12px);
  background-color: var(--secondary-color);
  transition: 0.3s ease-in-out;
  transform: scaleY(1);
}

.gototop-btn a:hover::before {
  transform: scaleY(0);
}

.gototop-btn a::after {
  content: "";
  position: absolute;
  left: 6px;
  top: -2px;
  height: calc(100% + 4px);
  width: calc(100% - 12px);
  background-color: var(--secondary-color);
  transition: 0.3s ease-in-out;
  transform: scaleX(1);
  transition-delay: 0.5s;
}

.gototop-btn a:hover::after {
  transform: scaleX(0);
}

.gototop-btn a span {
  position: relative;
  z-index: 3;
}

.gototop-btn button {
  background-color: none;
  text-decoration: none;
  background-color: var(--secondary-color);
  border: none;
}
/* footer  */
footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 50px;
  background-color: #ededed;
}

.footer-logo h1 {
  font-family: "Tektur", sans-serif;
  font-size: 3rem;
  cursor: pointer;
}

.footer-logo p {
  width: 300px;
  line-height: 1.4rem;
  font-size: 0.9rem;
  text-align: justify;
}

.footer-menu ul {
  text-decoration: none;
  list-style: none;
}

.footer-menu ul li {
  margin-top: 15px;
  cursor: pointer;
}

.footer-menu ul h4 {
  font-size: 1.3rem;
}

.line {
  height: 1px;
  width: 100%;
  background-color: gray;
  margin: 30px 0;
}

.social-icons img {
  padding: 10px;
  margin: 15px 10px 0 0;
  background: rgba(117, 117, 117, 0.099);
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}

.social-icons img:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.payment-methods {
  display: flex;
  align-items: center;
  gap: 10px;
}

.payment-methods img {
  width: 60px;
}

/* media query for max-width 480px  */
@media only screen and (max-width: 480px) {
  .mar {
    max-width: 100%;
    margin: 0 10px;
  }

  .container {
    padding: 0 25px 0 10px;
  }
  .navbar {
    width: 100%;
  }

  .logo {
    font-size: 2rem;
  }
  .nav-menu {
    display: none;
  }
  .search-bar {
    display: none;
  }

  .profile-cart a.addwishlist {
    display: none;
  }
  .profile-cart a.user {
    display: none;
  }

  .profile-cart a.cart {
    margin-bottom: 5px;
  }

  .profile-cart {
    gap: 10px;
    margin-left: 0;
  }
  .hamburger-menu {
    display: block;
  }

  .sidebar {
    display: block;
    width: 60%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    right: -60%;
    transition: right 0.3s ease;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    z-index: 10;
  }

  .sidebar.open {
    right: 0;
  }
  .close-sidebar {
    margin: 20px 20px 0 20px;
  }

  .sidebar-menu ul {
    height: 100vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
  }

  .sidebar ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Tektur", sans-serif;
    padding: 5px 0;
  }
  .sidebar ul li a {
    color: #000;
    text-decoration: none;
    font-family: "Tektur", sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 0;
  }

  .divider {
    height: 0.8px;
    background-color: rgb(163, 163, 163);
    width: 100%;
  }

  .cart-container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .product-container {
    width: 100%;
  }

  .product-img {
    width: 40%;
  }
  .product-info {
    width: 60%;
  }

  .product-img img {
    width: 90%;
    height: 70%;
  }

  .product-title {
    font-size: 1rem;
  }

  .product-price {
    font-size: 1rem;
  }

  .price-heading {
    font-size: 1.2rem;
  }
  .summary-container h3 {
    font-size: 0.9rem;
  }
  .summary-container p {
    font-size: 0.9rem;
  }

  footer {
    gap: 30px;
  }

  .footer-logo {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .payment-methods img {
    width: 40px;
  }
}
