* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jura", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --background-color: #ededed;
}

/* For WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
  background-color: #333;
}

::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

/* utility classes */

.mar {
  max-width: 1200px;
  margin: 0 auto;
}

.justify-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-container-btns {
  width: max-content;
  border-radius: 25px;
  border: 3px solid #000;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: "Tektur", sans-serif;
  transition: 0.3s;
  cursor: pointer;
}

.cart-container-btns:active {
  transform: scale(0.9);
}

.navbar {
  padding: 15px 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  font-size: 2.3em;
  font-weight: bolder;
  color: var(--primary-text-color);
  font-family: "Tektur", sans-serif;
  text-decoration: none;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.nav-menu ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="search"] {
  padding: 10px 40px;
  width: 300px;
  border: 2px solid gray;
  border-radius: 20px;
}

.search-bar button {
  background-color: transparent;
  padding-left: 10px;
  position: relative;
  border: none;
  cursor: pointer;
}

.search-bar-btn img {
  color: gray;
}

.profile-cart {
  display: flex;
  align-items: center;
}

.profile-cart a {
  padding: 10px 12px;
  border-radius: 50%;
  text-decoration: none;
  margin-left: 15px;
  display: flex;
  align-items: flex-end;
  gap: 10px;
  font-family: "Tektur", sans-serif;
  color: var(--primary-color);
}

.profile-cart a i {
  font-size: 1.4rem;
  color: var(--primary-color);
}

.profile-cart a:hover {
  background: rgba(117, 117, 117, 0.099);
  transition: 0.5s;
}

.cart-heading {
  padding: 20px 0;
  font-family: "Tektur", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.breadcrumbs a {
  text-decoration: none;  
}

.previous-tab {
  color: rgb(95, 95, 95);
  font-family: "Tektur", sans-serif;
}

.active-tab {
  color: var(--primary-color);
  font-family: "Tektur", sans-serif;

}

.cart-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 40px;
}

.product-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  height: max-content;
}

.product-card-container {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.product-img {
  height: 230px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img img {
  width: 80%;
  height: 90%;
}

.product-info {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.product-title {
  font-size: 1.3rem;
  font-weight: 500;
  text-align: justify;
  font-family: "Tektur", sans-serif;
}

.product-price {
  font-size: 1.2rem;
  font-family: "Tektur", sans-serif;
}

.exp_price {
  margin-left: 10px;
  font-family: "Tektur", sans-serif;
  color: gray;
  font-size: 0.9rem;
  text-decoration: line-through;
}

.remove-item-btn {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 10px;
  font-family: "Tektur", sans-serif;
}

.summary-container {
  height: max-content;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.price-heading {
  font-size: 1.4rem;
}

.promo-code-search {
  width: 170px;
  padding: 7px 5px 5px 15px;
  margin-right: 10px;
  border-radius: 15px;
  border: 2px solid gray;
}

.promo-btn {
  padding: 5px 12px;
}

.checkout-btn-container {
  display: flex;
  justify-content: center;
}

.checkout-btn {
  width: 200px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Go to top Button  */

.gototop-btn {
  display: flex;
  justify-content: flex-end;
  margin: 20px 50px 20px;
}

.gototop-btn a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #212121;
  text-transform: uppercase;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  scroll-behavior: smooth;
}

.gototop-btn a::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 12px);
  background-color: var(--secondary-color);
  transition: 0.3s ease-in-out;
  transform: scaleY(1);
}

.gototop-btn a:hover::before {
  transform: scaleY(0);
}

.gototop-btn a::after {
  content: "";
  position: absolute;
  left: 6px;
  top: -2px;
  height: calc(100% + 4px);
  width: calc(100% - 12px);
  background-color: var(--secondary-color);
  transition: 0.3s ease-in-out;
  transform: scaleX(1);
  transition-delay: 0.5s;
}

.gototop-btn a:hover::after {
  transform: scaleX(0);
}

.gototop-btn a span {
  position: relative;
  z-index: 3;
}

.gototop-btn button {
  background-color: none;
  text-decoration: none;
  background-color: var(--secondary-color);
  border: none;
}
