@media only screen and (max-width: 480px) {
  .mar {
    max-width: 100%;
    margin: 0 10px;
  }

  .container {
    padding: 0 10px;
  }
  .navbar {
    width: 100%;
  }

  .logo {
    font-size: 2rem;
  }
  .nav-menu {
    display: none;
  }
  .search-bar {
    display: none;
  }

  .profile-cart a {
    gap: 5px;
    margin-left: 0;
  }

  .cart-container {
    flex-direction: column;
    align-items: center;
  }

  .product-container {
    width: 100%;
  }

  .product-img {
    width: 40%;
  }
  .product-info {
    width: 60%;
  }

  .product-img img {
    width: 90%;
    height: 70%;
  }

  .product-title {
    font-size: 1rem;
  }

  .product-price {
    font-size: 1rem;
  }

  .price-heading {
    font-size: 1.2rem;
  }
  .summary-container h3 {
    font-size: 0.9rem;
  }
  .summary-container p {
    font-size: 0.9rem;
  }

  footer {
    gap: 30px;
  }

  .footer-logo {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .payment-methods img {
    width: 40px;
  }

  .toast span {
    font-size: 0.8rem;
  }
}
