* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jura", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --background-color: #ededed;
}


.cart-container-btns {
  width: max-content;
  border-radius: 25px;
  border: 3px solid #000;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: "Tektur", sans-serif;
  transition: 0.3s;
  cursor: pointer;
}

.cart-container-btns:active {
  transform: scale(0.9);
}

.navbar {
  padding: 15px 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-size: 2.3em;
  font-weight: bolder;
  color: var(--primary-text-color);
  font-family: "Tektur", sans-serif;
  text-decoration: none;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.nav-menu ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="search"] {
  padding: 10px 40px;
  width: 300px;
  border: 2px solid gray;
  border-radius: 20px;
}

.search-bar button {
  background-color: transparent;
  padding-left: 10px;
  position: relative;
  border: none;
  cursor: pointer;
}

.search-bar-btn img {
  color: gray;
}

.profile-cart {
  display: flex;
  align-items: center;
}

.profile-cart a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-decoration: none;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Tektur", sans-serif;
  color: var(--primary-color);
}

.profile-cart a i {
  font-size: 1.4rem;
  color: var(--primary-color);
}

.profile-cart a:hover {
  background: rgba(117, 117, 117, 0.099);
  transition: 0.5s;
}

.hamburger-menu {
  display: none;
}

.sidebar {
  display: none;
}

.wishlist-heading {
  padding: 15px 15px 15px 25px;
  font-family: "Tektur", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 0 0 25px;
}

.breadcrumbs a {
  text-decoration: none;
}

.previous-tab {
  color: rgb(95, 95, 95);
  font-family: "Tektur", sans-serif;
}

.active-tab {
  color: var(--primary-color);
  font-family: "Tektur", sans-serif;
}

/* Product Container  */
.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 30px;
  padding: 20px 0;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 330px;
  height: 400px;
  gap: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.3s ease;
  border-radius: 20px;
  padding: 15px 15px 15px 15px;
}

.card-container:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-container img {
  width: 65%;
  height: 100%;
  border-radius: 5px;
  mix-blend-mode: multiply;
  cursor: pointer;
}

.product-img {
  height: 180px;
  display: flex;
  justify-content: center;
}

.product-category {
  width: 80px;
  text-align: center;
  padding: 3px 0;
  border-radius: 10px;
  background-color: var(--secondary-color);
  font-size: 0.73rem;
  border: 2px solid var(--primary-color);
  font-family: "Tektur", sans-serif;
  font-weight: 550;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-title {
  font-size: 0.9rem;
  font-weight: 500;
  text-align: justify;
  font-family: "Tektur", sans-serif;
  padding: 0 10px 0 0;
}

.product-price {
  font-size: 0.9rem;
  padding: 0 40px 0 0;
  font-weight: 500;
  font-family: "Tektur", sans-serif;
  display: flex;
  gap: 10px;
}

.product-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 0 10px;
}

.add-to-cart-btn {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid var(--primary-color);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: 0.4s;
  cursor: pointer;
}

.add-to-cart-btn:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.add-to-cart-btn:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.add-to-cart-btn::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: var(--secondary-color);
  box-shadow: 0 0 50px 30px var(--secondary-color);
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.add-to-cart-btn:active {
  transform: scale(0.97);
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.addwishlistbtn {
  color: var(--primary-color);
}

.addwishlistbtn {
  transition: 0.3s;
  cursor: pointer;
}

.addwishlistbtn:active {
  transform: scale(0.87);
}

/* footer  */
footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 50px;
  background-color: #ededed;
}

.footer-logo h1 {
  font-family: "Tektur", sans-serif;
  font-size: 3rem;
  cursor: pointer;
}

.footer-logo p {
  width: 300px;
  line-height: 1.4rem;
  font-size: 0.9rem;
  text-align: justify;
}

.footer-menu ul {
  text-decoration: none;
  list-style: none;
}

.footer-menu ul li {
  margin-top: 15px;
  cursor: pointer;
}

.footer-menu ul h4 {
  font-size: 1.3rem;
}

.line {
  height: 1px;
  width: 100%;
  background-color: gray;
  margin: 30px 0;
}

.social-icons img {
  padding: 10px;
  margin: 15px 10px 0 0;
  background: rgba(117, 117, 117, 0.099);
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}

.social-icons img:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.payment-methods {
  display: flex;
  align-items: center;
  gap: 10px;
}

.payment-methods img {
  width: 60px;
}

/* media query for max-width 480px  */
@media only screen and (max-width: 480px) {
  .mar {
    max-width: 100%;
    margin: 0 10px;
  }

  .container {
    padding: 0 25px 0 10px;
  }
  .navbar {
    width: 100%;
  }

  .logo {
    font-size: 2rem;
  }
  .nav-menu {
    display: none;
  }
  .search-bar {
    display: none;
  }

  .profile-cart a.addwishlist {
    display: none;
  }
  .profile-cart a.user {
    display: none;
  }

  .profile-cart a.cart {
    margin-bottom: 5px;
  }

  .profile-cart {
    gap: 10px;
    margin-left: 0;
  }
  .hamburger-menu {
    display: block;
  }

  .sidebar {
    display: block;
    width: 60%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    right: -60%;
    transition: right 0.3s ease;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    z-index: 10;
  }

  .sidebar.open {
    right: 0;
  }
  .close-sidebar {
    margin: 20px 20px 0 20px;
  }
  .sidebar-menu ul {
    height: 100vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 0 10px;
  }

  .sidebar ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Tektur", sans-serif;
    padding: 12px;
  }

  .sidebar ul li a {
    width: 100%;
    height: max-content;
    color: #000;
    text-decoration: none;
    font-family: "Tektur", sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 0;
  }

  .divider {
    height: 0.8px;
    background-color: rgb(163, 163, 163);
    width: 100%;
  }

  .product-container {
    display: flex;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
    gap: 32px;
    padding: 30px 40px;
  }

  .product-container::-webkit-scrollbar {
    display: none;
  }

  .card-container {
    flex: 0 0 100%;
    scroll-snap-align: start;
    padding: 10px 10px;
  }

  .product-title {
    font-size: 0.9rem;
  }

  footer {
    gap: 30px;
  }

  .footer-logo {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .payment-methods img {
    width: 40px;
  }
}
