<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Explore ShopPro, an advanced eCommerce platform designed to revolutionize online shopping. Experience seamless shopping with dynamic cart updates, a personalized wishlist, and detailed product insights. Enjoy intuitive navigation, real-time interactions, and exclusive discounts with our integrated coupon system. Shop smarter with ShopPro today!">
    <title>Checkout</title>
    <link rel="stylesheet" href="/components/css/checkout.css">
    <link rel="stylesheet" href="/components/css/utility.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Reggae+One&display=swap&family=Tektur:wght@400..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- navbar starts here -->
    <header class="navbar" id="nav">
        <div class="container">
            <a href="/index.html" class="logo">ShopPro</a>
        </div>
    </header>
    <!-- navbar ends here -->


    <!-- checkout container  -->
    <div class="checkout-container mar" id="checkout-content">
        <header>
            <h1>Checkout</h1>
            <div class="breadcrumbs mar">
                <a href="/index.html" class='previous-tab'>Home</a>
                <i class="fa-solid fa-angle-right"></i>
                <a href="/components/pages/cart.html" class="previous-tab">Cart</a>
                <i class="fa-solid fa-angle-right"></i>
                <a href="/components/pages/checkout.html" class="active-tab">Checkout</a>
            </div>
        </header>
        <main id="checkout_form">
            <section id="shipping_details">
                <button type="button" class="back-btn"><i class="fa-solid fa-arrow-left"></i> Shipping Details</button>
                <form action="#" method="POST">
                    <div class="form-group">
                        <input aria-invalid="true" type="text" id="name" class="input" name="name" required>
                        <label class="user-label" for="first_name">First Name</label>
                    </div>
                    <div class="form-group">
                        <input aria-invalid="true" type="text" id="last_name" class="input" name="last_name" required>
                        <label class="user-label" for="last_name">Last Name</label>
                    </div>
                    <div class="form-group">
                        <input aria-invalid="true" type="number" id="number" class="input" name="number" required>
                        <label class="user-label" for="address">Phone Number</label>
                    </div>
                    <div class="form-group">
                        <input aria-invalid="true" type="email" id="email" class="input" name="email" required>
                        <label class="user-label" for="address">Email Address</label>
                    </div>
                    <div class="form-group">
                        <input aria-invalid="true" type="text" id="address" class="input" name="address" required>
                        <label class="user-label" for="address">Your Address</label>
                    </div>
                    <div class="form-group">
                        <input aria-invalid="true" type="text" id="state" class="input" name="state" required>
                        <label class="user-label" for="state">State</label>
                    </div>
                    <div class="form-group">
                        <input aria-invalid="true" type="text" id="city" class="input" name="city" required></input>
                        <label class="user-label" for="city">City</label>
                    </div>
                    <div class="form-group">
                        <input aria-invalid="true" type="text" id="zipcode" class="input" name="zip-code" maxlength="6" required></input>
                        <label class="user-label" for="Zip">Zip code</label>
                    </div>
                </form>
            </section>
            <section id="order_details">

            </section>
        </main>
    </div>

    <script src="/components/js/checkout.js"></script>
</body>

</html>